body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

.block-content {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  transition: all 0.2s;
  margin: 30px;
  width: 300px;
}

li {
  text-align: left;
  list-style: none;
  padding-bottom: 20px;
}

button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
}
